.row {
    display: flex;
    flex-flow: row wrap;
}

.row__name {
    width: 150px;
}

.boolean-function {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.function {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.index {
    font-size: 12px;
    text-align: center;
}

.ml10 {
    margin-left: 10px;
}

.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}